<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">

<!-- Include Custom Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

<!-- Include Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<!-- Include Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Bootstrap JavaScript Bundle (Ensure Proper Version Match) -->
<script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
